In [1]:
import sqlite3
import numpy as np
import string
import random
import os
import datetime

In [2]:
def make_connection():
    db_name = "epidemic.db"
    try:
        con = sqlite3.connect(db_name)
        con.row_factory = sqlite3.Row
        cursor = con.cursor()
    except Exception as e:
        print(e)
        print(f"Error connecting to the database")
        return False, False
    return con, cursor

In [3]:
def randomNumber(be, en):
    return np.random.randint(be, en)

In [4]:
def randomString(size, chars = string.ascii_lowercase):
    return ''.join(random.choice(chars) for x in range(size))

In [5]:
def updateStats(values, con, cursor, stats):
    """
    diseaseid, ncases, ndeaths, spreadprob 
    """
#     print('heyyy')
    diseaseid = values[1]
    spreadprob = random.random()
    new_values = [diseaseid, 1, values[2], spreadprob]
    
    query = f"""
        SELECT * from Stats
        WHERE diseaseid = {diseaseid};
            """
    try:
        cursor.execute(query)
        print('first query')
    except Exception as e:
        return_val = str(e) + "Error in executing query for updating stats"
    data = cursor.fetchone()
    print('frist query done')
    print(data)
    if not data:
        query = """
                INSERT INTO Stats
                VALUES (?, ?, ?, ?);
                """
        stats[diseaseid] = new_values[1:]
        print('new query\n\n')
    else:
        query = f"""
                UPDATE Stats
                SET ncases = ncases + 1, ndeaths = ndeaths + {values[2]}
                WHERE diseaseid = {diseaseid};
                """
        print('Old update\n')
        new_values = False
        stats.update({diseaseid: [stats[diseaseid][0]+1, stats[diseaseid][1] + values[2], spreadprob]})
    print(f"Doing query {query} and values {new_values}")
    print("\n\n\n\n\n\nREAD THIS")
    if new_values:
        print("one")
        cursor.execute(query, new_values)
    else:
        print("two")
        cursor.execute(query)
    try:
        con.commit()
    except Exception as e:
        return_val = str(e) + "Can't execute the query."
    print(f"thththththththht: {return_val}")    
    return return_val

In [6]:
def populateDB(values, type = None, stats = None):
    con, cursor = make_connection()
    return_val = "Done"
    
    if type == 'Hospital':
        query = f"""
                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);
        """
    elif type == 'Diseases':
        query = f"""
                    INSERT INTO Diseases
                    VALUES(?, ?, ?, ?);
        """
    elif type == 'Drugs':
        query = f"""
                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);
        """
    elif type == 'Pharmacy':
        query = f"""
                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);
        """
    elif type == 'Cases':
        query = f"""
                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);
        """
        try:
            print('in try')
            cursor.execute(query, values)
            con.commit()
            print('executed')
#             updateStats(values, con, cursor, stats)
            print('stats updated\n')
        except:
            print("comeon")
            con.close()
    print(query)
    try:
        cursor.execute(query, values)
        con.commit()
        print(type + " query committed")
    except Exception as e:
        return_val = str(e)
    finally:
        con.close()
    print(return_val)
    return return_val

In [7]:
def generateLocation(lat, lon, be, en):
    hosp_loc = []
    for i in range(len(lat)):
        for j in range(10):
            ranNum = random.uniform(be, en)
            longi = lon[i] + ranNum
            lati = lat[i] + ranNum
            loc = str(lati) + ' ' + str(longi)
            hosp_loc.append(loc)
        for j in range(10):
            ranNum = random.uniform(be, en)
            longi = lon[i] + ranNum
            lati = lat[i] - ranNum
            loc = str(lati) + ' ' + str(longi)
            hosp_loc.append(loc)
        for j in range(10):
            ranNum = random.uniform(be, en)
            longi = lon[i] - ranNum
            lati = lat[i] + ranNum
            loc = str(lati) + ' ' + str(longi)
            hosp_loc.append(loc)
        for j in range(10):
            ranNum = random.uniform(be, en)
            longi = lon[i] - ranNum
            lati = lat[i] - ranNum
            loc = str(lati) + ' ' + str(longi)
            hosp_loc.append(loc)
    return hosp_loc

In [8]:
dummyLat = [30.553983, 26.619224, 22.463071, 25.712074, 23.957391, 21.116530, 17.927783, 13.145015, 26.146809]
dummyLong = [77.080078, 75.761719, 76.333008, 79.672852, 83.759766, 79.848633, 77.124023, 77.387695, 92.988281]
be = 0.0001
en = 1.5
locs = generateLocation(dummyLat, dummyLong, be, en)

In [9]:
len(locs)

360

# Populating Hospital

In [10]:
be = 10000
en = 99999

hosp_id = []
hosp_userid = []
hosp_name = []
hosp_loc = []

dummyLat = [30.553983, 26.619224, 22.463071, 25.712074, 23.957391, 21.116530, 17.927783, 13.145015, 26.146809]
dummyLong = [77.080078, 75.761719, 76.333008, 79.672852, 83.759766, 79.848633, 77.124023, 77.387695, 92.988281]
be2 = 0.0001
en2 = 1.5

hosp_loc = generateLocation(dummyLat, dummyLong, be2, en2)

for i in range(len(hosp_loc)):
    ID = randomNumber(be, en)
    print(ID)
    Userid = randomNumber(be, en)
    Name = randomString(randomNumber(6, 12))
    
    hosp_id.append(ID)
    hosp_userid.append(Userid)
    hosp_name.append(Name)
    
    a = populateDB(tuple([ID, Name, hosp_loc[i], Userid]), 'Hospital')

61733

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
66023

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
39736

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
75387

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
74846

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
93368

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
53124

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
17034

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
51414

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
70411

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
83406

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
16741

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
92567

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
45025

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
25135

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
33462

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
11398

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
37269

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
98195

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
11438

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
53434

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
76767

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
19310

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
58149

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
34524

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
47207

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
67064

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
67083

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
34407

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
75871

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
98580

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
84856

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
16652

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
60000

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
57783

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
13327

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
54342

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
63707

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
73790

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
45906

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
80532

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
82236

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
38443

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
29603

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
82463

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
94636

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
93781

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
45016

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
81999

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
33361

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
55206

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
65870

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
33272

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
14109

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
56511

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
51351

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
88112

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
11223

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
97850

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
65626

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
64766

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
64856

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
76314

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
82459

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
78682

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
61533

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
10805

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
58460

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
60539

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
32718

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
64804

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
66493

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
68179

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
56104

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
37932

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
23637

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
53532

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
99925

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
74018

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
52528

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
35810

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
47176

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
45524

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
76957

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
24630

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
52195

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
24080

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
60839

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
18545

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
29864

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
62981

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
52167

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
25112

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
22438

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
28835

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
57081

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
54195

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
80953

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
80093

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
68515

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
52281

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
86308

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
69837

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
26184

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
77644

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
30844

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
41301

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
31681

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
35385

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
20723

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
19886

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
69412

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
37611

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
21773

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
80801

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
20189

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
81066

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
96126

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
69777

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
24534

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
17438

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
25890

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
95488

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
50555

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
14228

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
41102

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
20604

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
54533

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
68519

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
50504

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
91278

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
11924

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
96803

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
24273

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
87785

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
77151

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
37220

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
10818

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
68389

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
97012

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
11625

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
51176

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
49754

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
85585

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
78116

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
26437

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
29245

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
77521

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
54873

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
73932

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
48858

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
99269

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
37731

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
41747

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
80355

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
76949

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
16793

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
23065

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
56849

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
23333

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
10346

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
53598

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
79747

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
41863

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
55456

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
69166

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
50841

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
98724

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
28792

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
23871

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
32924

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
93357

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
29837

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
39191

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
84955

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
35749

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
94189

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
63992

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
48114

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
40551

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
97322

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
95424

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
47283

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
12322

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
31745

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
52640

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
68465

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
72687

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
90584

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
98674

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
76186

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
17407

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
32013

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
93839

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
29291

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
65147

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
70105

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
57968

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
29760

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
64528

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
12865

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
17514

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
97161

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
90131

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
71858

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
35559

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
64061

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
61014

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
41011

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
70986

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
36999

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
19427

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
67917

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
61850

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
36406

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
89071

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
13057

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
78316

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
69686

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
85564

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
73655

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
89230

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
99089

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
53651

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
51534

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
77680

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
97352

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
77143

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
53574

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
21569

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
64492

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
14348

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
98190

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
49532

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
66338

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
50562

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
32887

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
59594

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
55287

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
16002

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
10427

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
86741

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
34952

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
61052

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
82096

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
91672

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
93464

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
23615

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
12457

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
77363

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
14724

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
67519

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
98379

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
61208

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
58757

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
47488

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
71176

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
85845

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
38489

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
22609

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
48825

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
53023

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
32250

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
85487

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
66244

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
23706

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
87193

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
10909

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
97725

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
87952

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
15552

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
18810

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
21644

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
73019

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
60432

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
17964

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
64047

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
27484

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
21018

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
80231

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
68752

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
71083

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
45032

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
73630

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
51715

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
55776

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
46986

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
43189

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
84537

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
61579

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
22614

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
44298

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
49040

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
74139

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
89535

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
11220

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
10698

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
71663

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
41745

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
54473

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
28973

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
22331

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
89524

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
10109

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
64844

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
19419

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
53903

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
86519

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
74219

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
29811

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
41246

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
69852

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
38414

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
87628

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
28444

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
79240

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
93649

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
64133

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
66102

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
21366

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
30014

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
19691

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
60491

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
40847

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
33085

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
90925

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
64255

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
67549

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
68528

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
72261

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
98789

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
14724

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

UNIQUE constraint failed: Hospital.id
45022

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
57301

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
34806

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
83138

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
57884

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
71210

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
39488

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
60899

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
70689

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
71371

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
93166

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
25213

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
90579

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
44961

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
49694

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
52110

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
78473

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
77620

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
79925

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
87285

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
73783

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
91377

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
21989

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
58397

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
69130

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
11714

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
77218

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done
82377

                    INSERT INTO Hospital(id, name, location, userid)
                    VALUES(?, ?, ?, ?);

Hospital query committed
Done

# Populating Diseases

In [11]:
# disease_id = []
# disease_name = []
disease_mos = []
disease_sym = []

disease_name = ['AIDS', 'Maleria', 'Cholera', 'SmallPox', 'Tuberculosis', 'Influenza', 'Dengue', 'Chikungunya', 'Ebola', 'Meningitis']
disease_id = [1,2,3,4,5,6,7,8,9,10]

for i in range(len(disease_id)):
#     id = randomNumber(be, en)
#     name = randomString(randomNumber(6, 10))
    mos = random.choice(['air', 'water', 'food', 'animal'])
    sym = randomString(100)
    
#     disease_id.append(id)
#     disease_name.append(name)
    disease_mos.append(mos)
    disease_sym.append(sym)
    print(i, disease_id[i])
    a = (populateDB(tuple([disease_id[i], disease_name[i], mos, sym]), 'Diseases'))

0 1

                    INSERT INTO Diseases
                    VALUES(?, ?, ?, ?);

Diseases query committed
Done
1 2

                    INSERT INTO Diseases
                    VALUES(?, ?, ?, ?);

Diseases query committed
Done
2 3

                    INSERT INTO Diseases
                    VALUES(?, ?, ?, ?);

Diseases query committed
Done
3 4

                    INSERT INTO Diseases
                    VALUES(?, ?, ?, ?);

Diseases query committed
Done
4 5

                    INSERT INTO Diseases
                    VALUES(?, ?, ?, ?);

Diseases query committed
Done
5 6

                    INSERT INTO Diseases
                    VALUES(?, ?, ?, ?);

Diseases query committed
Done
6 7

                    INSERT INTO Diseases
                    VALUES(?, ?, ?, ?);

Diseases query committed
Done
7 8

                    INSERT INTO Diseases
                    VALUES(?, ?, ?, ?);

Diseases query committed
Done
8 9

                    INSERT INTO Diseases
                    VALUES(?, ?, ?, ?);

Diseases query committed
Done
9 10

                    INSERT INTO Diseases
                    VALUES(?, ?, ?, ?);

Diseases query committed
Done

# Populating Drugs

In [12]:
drug_id = []
drug_name = []
drug_req = []
# drug_avail =[]
disease_drug = {}

be2 = 100
en2 = 999

for i in range(len(disease_id)):
    curDisease = disease_id[i]
    for j in range(randomNumber(1,4)):
        id = randomNumber(be2, en2)
        name = randomString(randomNumber(6, 12))
        req = randomNumber(6, 15)
        avail = randomNumber(1500, 3000)
        
        drug_id.append(id)
        drug_name.append(name)
        drug_req.append(req)
#         drug_avail.append(avail)
        
        #storing drug ids corresponding to each disease
        if(curDisease in disease_drug):
            disease_drug[curDisease].append(id)
        else:
            disease_drug[curDisease] = [id]
        print(tuple([id, name, req, disease_id[i]]))
        a = populateDB(tuple([id, name, req, disease_id[i]]), 'Drugs')

(733, 'mvyesjigpxa', 6, 1)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(373, 'juixwrzthdt', 8, 2)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(425, 'azszon', 14, 2)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(122, 'fstgwltqxf', 14, 3)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(165, 'ryufuzdbh', 12, 3)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(495, 'rmpdbim', 13, 4)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(192, 'bdkvblgvlnv', 6, 4)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(197, 'wuprwp', 7, 5)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(709, 'zquzjnds', 13, 5)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(239, 'ynkojy', 8, 6)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(448, 'xwithntgak', 11, 7)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(291, 'sryjlgqh', 6, 7)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(523, 'hrzhwxwwuuf', 13, 8)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(376, 'oijiivz', 8, 8)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(296, 'pipgrmjjla', 9, 9)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(858, 'xkgbtyfikg', 11, 9)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done
(654, 'ttixwz', 11, 10)

                    INSERT INTO Drugs
                    VALUES(?, ?, ?, ?);

Drugs query committed
Done

In [13]:
# !cp backup.db epidemic.db

In [14]:
# !ls

# Populating Cases

In [17]:
# id- auto-incremental
case_date = []
case_diseaseid = []
case_death = []
case_location = []

#stats
stats = {}
#for each disease id in stats, we will store ncases, ndeaths and spreadprob

curDate = str(datetime.datetime.now().date())
for i in range(len(disease_id)):
    curDisease = disease_id[i]
    for j in range(randomNumber(50, 100)):
        date = str(randomNumber(2018, 2020)) + '-' 
        tens = str(randomNumber(1, 12))
        if(tens <= str(9)):
            tens = '0' + tens
        
        date += tens + '-' + str(randomNumber(1, 30))
        print(date)
        if(date < curDate):
            death = randomNumber(0, 2)
            location = random.choice(hosp_loc)

            case_date.append(date)
            case_diseaseid.append(curDisease)
            case_death.append(death)
            case_location.append(location)
            a = populateDB(tuple([date, curDisease, death, location]), 'Cases', stats)

2018-05-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-29
2019-010-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-8
2018-010-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-2
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-18
2018-01-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-19
2018-01-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-7
2019-05-26
2018-03-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-17
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-02-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-16
2019-04-19
2018-010-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-22
2019-05-4
2019-03-15
2019-08-5
2019-04-7
2019-010-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-29
2018-03-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-21
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-23
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-25
2019-07-11
2018-01-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-6
2018-07-8
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-15
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-5
2019-09-10
2018-05-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-21
2019-011-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-12
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-4
2019-06-4
2018-01-24
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-15
2019-04-2
2018-03-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-8
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-02-15
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-19
2019-010-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-21
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-17
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-24
2018-03-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-15
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-9
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-16
2019-05-24
2019-03-1
2019-09-7
2019-01-2
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-21
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-29
2018-01-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-13
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-9
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-02-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-9
2018-05-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-3
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-02-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-10
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-13
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-9
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-23
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-14
2019-06-18
2018-010-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-16
2019-01-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-9
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-02-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-15
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-28
2019-010-24
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-9
2019-02-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-15
2019-03-3
2019-09-10
2019-03-9
2018-07-9
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-20
2018-08-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-12
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-15
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-10
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-17
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-11
2019-07-10
2019-02-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-24
2019-06-9
2018-02-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-6
2018-02-23
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-8
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-9
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-22
2019-04-6
2018-03-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-26
2018-05-17
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-13
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-2
2019-03-11
2019-08-5
2019-06-4
2019-05-12
2018-011-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-9
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-10
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-19
2018-03-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-20
2019-06-15
2018-010-13
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-9
2018-02-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-15
2019-01-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-12
2018-05-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-6
2018-02-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-26
2019-04-15
2019-07-25
2019-01-9
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-3
2019-010-12
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-17
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-11
2018-09-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-23
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-7
2018-03-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-18
2018-010-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-28
2019-04-29
2019-05-18
2018-04-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-10
2018-07-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-21
2019-01-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-18
2018-01-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-9
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-24
2018-07-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-18
2019-01-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-21
2019-05-7
2019-09-15
2019-06-24
2019-05-11
2019-04-13
2019-010-13
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-25
2018-04-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-10
2019-03-5
2019-04-16
2018-07-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-22
2018-07-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-18
2018-02-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-12
2018-03-24
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-8
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-12
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-10
2019-011-21
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-24
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-5
2018-07-3
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-2
2019-04-7
2019-08-10
2019-04-20
2019-02-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-9
2019-02-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-25
2019-08-26
2018-04-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-15
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-10
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-19
2018-09-24
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-8
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-8
2019-07-18
2018-04-23
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-8
2018-07-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-12
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-23
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-14
2019-03-22
2019-010-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-23
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-27
2019-01-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-8
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-3
2019-07-15
2019-010-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-10
2018-011-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-23
2018-05-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-6
2019-010-24
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-4
2019-06-10
2018-07-24
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-23
2019-010-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-4
2018-011-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-2
2018-09-21
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-02-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-14
2018-02-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-5
2019-011-23
in try

executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-13
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-28
2018-02-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-02-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-17
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-23
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-23
2019-02-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-8
2019-05-21
2019-05-10
2019-08-5
2019-04-28
2018-08-13
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-15
2019-05-20
2018-01-10
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-23
2018-06-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-2
2019-03-4
2018-07-8
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-21
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-10
2019-03-29
2019-08-5
2019-011-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-25
2019-09-9
2018-08-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-9
2019-07-6
2019-01-17
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-5
2018-09-21
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-15
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-10
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-26
2019-05-20
2019-08-9
2019-01-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-16
2018-05-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-19
2019-011-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-13
2019-011-21
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-25
2018-02-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-23
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-2
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-5
2018-06-21
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-2
2019-011-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-9
2018-05-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-17
2018-09-3
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-9
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-8
2018-09-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-21
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-6
2018-010-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-21
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-23
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-2
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-9
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-23
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-14
2018-011-23
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-12
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-21
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-8
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-2
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-8
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-1
2019-01-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-2
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-22
2019-02-21
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-02-12
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-02-24
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-18
2018-01-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-17
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-3
2018-01-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-21
2018-04-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-17
2019-02-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-18
2019-08-18
2019-01-8
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-13
2019-03-19
2018-05-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-8
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-19
2018-03-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-21
2018-02-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-12
2018-09-15
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-19
2019-06-8
2018-011-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-8
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-24
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-3
2018-07-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-18
2019-04-27
2018-06-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-6
2018-011-12
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-6
2019-07-25
2018-03-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-17
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-15
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-22
2018-08-13
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-15
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-18
2019-04-20
2019-011-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-19
2018-03-8
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-13
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-8
2018-010-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-24
in try

executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-17
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-27
2018-07-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-12
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-1
2018-011-3
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-24
2019-011-13
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-11
2018-09-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-16
2018-05-21
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-9
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-26
2019-09-16
2018-03-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-02-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-9
2018-01-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-24
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-21
2019-02-3
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-24
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-24
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-5
2018-05-2
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-8
2019-05-23
2019-05-23
2018-04-17
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-7
2019-07-22
2018-011-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-5
2019-06-10
2019-07-13
2018-08-10
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-5
2019-011-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-9
2018-05-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-2
2018-010-10
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-16
2019-05-5
2018-05-24
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-10
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-9
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-17
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-6
2019-08-16
2019-07-24
2019-02-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-11
2019-03-6
2019-01-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-22
2019-09-18
2019-01-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-3
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-2
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-02-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-18
2019-06-5
2018-08-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-13
2018-05-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-02-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-25
2018-011-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-10
2018-09-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-16
2019-05-2
2019-03-19
2018-09-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-3
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-02-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-12
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-13
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-22
2018-07-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-9
2019-011-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-1
2019-04-3
2018-08-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-1
2018-010-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-12
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-8
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-9
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-24
2019-06-28
2019-010-15
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-28
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-8
2018-04-13
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-17
2018-07-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-5
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-15
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-1
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-5
2018-010-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-2
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-02-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-06-4
2019-011-16
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-10
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-23
2018-03-23
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-3
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-06-10
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-23
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-17
2019-010-3
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-11
2019-06-25
2019-08-13
2018-09-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-19
2018-09-11
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-19
2019-03-12
2019-09-25
2019-04-16
2018-09-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-3
2019-06-13
2019-07-11
2018-010-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-12
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-24
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-4
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-19
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-010-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-19
2018-011-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-09-8
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-9
2018-04-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-09-17
2018-011-2
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-3
2018-04-10
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-01-21
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-04-9
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-010-29
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-6
2019-04-18
2019-07-2
2018-010-3
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-1
2019-02-17
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-011-7
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-7
2019-05-23
2019-07-5
2018-011-15
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-03-14
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-011-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-05-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-9
2018-06-18
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-05-7
2019-06-2
2018-03-3
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-29
2019-07-6
2018-04-26
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-4
2018-010-27
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-08-15
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-04-24
2018-010-22
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-28
2018-011-23
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-07-4
2019-06-24
2019-06-15
2019-011-25
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2018-07-10
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-01-20
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-03-26
2019-04-1
2019-02-2
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done
2019-08-4
2018-06-6
in try
executed
stats updated


                    INSERT INTO Cases(date, diseaseid, death, location)
                    VALUES(?, ?, ?, ?);

Cases query committed
Done

In [16]:
# for i, idx in enumerate(disease_id):
#     print(idx)

In [18]:
# updating stats
for idx, dId in enumerate(disease_id):
    con, cursor = make_connection()
    return_val = "Done"
    query = f"""
            SELECT * FROM Cases
            WHERE diseaseid = {dId}
            """
    cursor.execute(query)
    con.commit()
    
    rows = cursor.fetchall()
    data = [dict(row) for row in rows]
    con.close()
    
#     print(data)
    ncases = len(data)
    print(ncases)
    ndeaths = randomNumber(0, ncases)
    spreadprob = random.random()
    
    con, cursor = make_connection()
    query = f"""
            INSERT INTO Stats
            VALUES(?, ?, ?, ?)
            """
    values = [dId, ncases, ndeaths, spreadprob]
    cursor.execute(query, values)
    con.commit()
    con.close()

114
118
72
84
96
144
128
82
60
58

# Populating Pharmacy

In [19]:
def generate_num_array(size, be, en):
    
    numArray = " ".join([str(randomNumber(be, en)) for i in range(size)])
    return numArray

In [19]:
# s = generate_num_array(5, 1, 10)
# s

In [ ]:
pharm_id = []
pharm_name = []
pharm_loc = []
pharm_drug_id = []
pharm_drug_avail = []

dummyLat = [33.759740, 29.553983, 27.619224, 22.763071, 25.112074, 24.157391, 21.816530, 17.027783, 13.745015, 26.146809]
dummyLong = [76.677269, 77.080078, 75.761719, 76.333008, 79.672852, 83.759766, 79.848633, 78.124023, 77.387695, 92.988281]
beloc = 0.0001
enloc = 1.5

pharm_loc = generateLocation(dummyLat, dummyLong, beloc, enloc)

for i in range(len(pharm_loc)):
    ID = randomNumber(be, en)
    Name = randomString(randomNumber(6, 12))
    ndrugs = randomNumber(10, 30)
    drug_id = generate_num_array(ndrugs, be2, en2)
    drug_avail = generate_num_array(ndrugs, 10, 200)
    
    pharm_id.append(ID)
    pharm_name.append(Name)
    pharm_drug_id.append(drug_id)
    pharm_drug_avail.append(drug_avail)
    
    a = populateDB(tuple([ID, Name, pharm_loc[i], drug_id, drug_avail]), 'Pharmacy')

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);

Pharmacy query committed
Done

                    INSERT INTO Pharmacy
                    VALUES(?, ?, ?, ?, ?);